<body>
<div class="container-fluid">  
    <div class="row-fluid">  
        <div id="spacing" style="padding-left:250px;height:150px;width:800px;float:left;">

          <%- model_class = Job.new.class -%>
          
          <br>
          <br>

          <% if @result == [] %>
            <!----------------- SEARCH FORM: ---------------->
            <%= form_tag search_path, :method => :get do %>
              <%= text_field_tag :query, nil, :placeholder => "Enter one keyword to begin search" %>
              <%= submit_tag " Jib ! ", :name => nil, :class => 'btn btn-primary' %>
              <br><em>Search for job title, description, skills...</em>
            <% end %>Please try again with only ONE or TWO words
          
          <% elsif @result.any? %>
            <!----------------- SEARCH FORM: ---------------->
            <%= form_tag search_path, :method => :get do %>
              <%= text_field_tag :query, nil, :placeholder => "Enter one keyword to begin search" %>
              <%= submit_tag " Jib ! ", :name => nil, :class => 'btn btn-primary' %>
              <br><em>Search for job title, description, skills...</em>
            <% end %>
          
        </div><!--span9-->            
    </div><!--end of search box row-->      


    <!-- ------------------SEARCH RESULTS: ------------------>
    <div class="row-fluid" >
      
        <div class="span2">
            <div id="facets">

                <h4>Job Type</h4>
                <ul>
                  <% for row in @search.facet(:jobtype).rows %>
                    <li>
                      <% if params[:jobtype].blank? %>
                        <%= link_to row.value, params.merge(:jobtype => row.value, :page => 1) %> (<%= row.count %>)
                      <% else %>
                        <strong><%= row.value %></strong> (<%= link_to "remove", params.merge(:jobtype => nil) %>)
                      <% end %>
                    </li>
                  <% end %><!--end of for row in @search-->
                </ul>

                <h4>Location</h4>
                <ul>
                  <% for row in @search.facet(:location).rows %>
                    <li>
                      <% if params[:location].blank? %>
                        <%= link_to row.value, params.merge(:location => row.value, :page => 1) %> (<%= row.count %>)
                      <% else %>
                        <strong><%= row.value %></strong> (<%= link_to "remove", params.merge(:location => nil) %>)
                      <% end %>
                    </li>
                  <% end %><!--end of for row in @search-->
                </ul>

                <h4>Industry</h4>
                <ul>
                  <% for row in @search.facet(:comptype).rows %>
                    <li>
                      <% if params[:comptype].blank? %>
                        <%= link_to row.value, params.merge(:comptype => row.value, :page => 1) %> (<%= row.count %>)
                      <% else %>
                        <strong><%= row.value %></strong> (<%= link_to "remove", params.merge(:comptype => nil) %>)
                      <% end %>
                    </li>
                  <% end %><!--end of for row in @search-->
                </ul>
                     
            </div><!--end of div id=facet-->
        </div><!--end of facets/span2-->

        <div class='span8'><!--search results class-->

          <% if params[:query].blank? == false || params[:page].blank? == false %>
          <h3><%= @search.total %> jobs found for keyword '<%= params[:query]%>'</h3>
            <!----------JOB TABLE---------------->
            <table class="table table-striped"><br>
              <tbody>
                <% @result.each do |job| %>
                  <tr>
                    <td><%= link_to job.title, job, :target => "_blank" %>
                      <br><%= job.jobtype %> - <%= job.location %></td>
                    <td><%= job.company %></td>
                  </tr>
                <% end %><!--- END OF RESULTS LIST------>
              </tbody>
            </table><!-- end of search results table -->
                        <!----PAGINATE -------->
                
                <%= will_paginate @result %>
          <%else %>
            <h3>Top new jobs</h3>
            <table class="table"><br>
              <tbody>
                <% @new.shuffle.each do |job| %>
                  <tr>
                    <td><%= link_to job.title, job, :target => "_blank" %> 
                    <td><%= job.company %> - <%= job.location %></td>
                  </tr>
                <% end %><!--- END OF RESULTS LIST------>
              </tbody>
            </table><!-- end of search results table --><br><br>
          <h3> Top companies </h3><br>
          <%= image_tag("companies.jpg", :alt => "companies") %>  
          <% end %>

    <% end %>
        </div>    
            <!------- RIGHT COLUMN ------>
    </div> 
</div>
</body>
            
