<div class="span12">
  <div id = "main" style="margin-left:130px"> 
  <%= simple_form_for @job, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>

  <% if current_user == nil %>
  <% @job.build_user(job_ids: [@job.id]) %>
  <%= f.fields_for :user do |builder| %>
    <div class="build-user">
      <h3>Create an account or <%= link_to "Login", new_user_session_path %></h3><br><br>
      <%= builder.input :lastname, :required => true,:placeholder => "last & middle name" %> 
      <%= builder.input :firstname, :required => true %>
      <%= builder.input :email, :required => true, :autofocus => true, :placeholder => "get updates for your application" %>
                        
      <% if builder.object.password_required? %>
      <%= builder.input :password, :required => true, :placeholder => "at least 8 characters" %>
      <%= builder.input :password_confirmation, :required => true %>
      <% end %>
    </div>
  <% end %>
<% end %>

<h3>Job Information</h3><br><br>

  <% if user_signed_in? %>
  *Send job applications to <strong><%= current_user.email %></strong> <%= link_to "Edit", edit_user_registration_path%><br><br> 
  <% end %>

  <%= f.input :title, :required => true %>
  <%= f.input :jobtype, :label => 'Job Type', :collection => ['Entry Level','Internship'], :as => :radio, :required => true %>
  <%= f.input :location, collection: ['Hanoi','HCMC','Other'],:as => :radio, :required => true %>
  <%= f.input :company, :required => true,:input_html => {:style=> 'text-align: left'} %>
  <%= f.input :compinfo, label: "Company Information", :input_html => {:style => 'width: 450px', :rows => 5} %>
  <%= f.input :comptype, :label => 'Company Type', collection: ['Consumer Goods & Services','Finance & Banking', 'Non-Profit', 'Professional Services', 'Start-Up','Technology', 'Other'], :required => true %>
  <%= f.input :availability, :label => "Deadline to apply",:input_html => {:style=> 'width: 71px'}, :required => true %>

  <div id='job-photo' style="margin-left:85px">Job Image
    <strong style="margin-left:6px"><%= f.file_field :photo %></strong>
  </div>
  <br>

  <%= f.input :description, :required => true, :input_html => {:style => 'width: 450px', :rows => 10} %>
  <%= f.input :requirement, :required => true, :input_html => {:style => 'width: 450px', :rows => 10} %>
  </div>
</div> 

<div class="span8" style="margin-left:200px"> 
  <div class="form-actions"> 
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                search_path, :class => 'btn' %>
  </div>
</div>
<% end %>
