<%= simple_form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :url %>
  <%= f.input :description %>
  <%= f.input :company %>
  <%= f.input :availability %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :requirement %>
  <%= f.input :jobtype %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                search_path, :class => 'btn' %>
  </div>
<% end %>
