<div class="container-fluid">  
    <div class="row-fluid">  
        <div class="span2">.</div>
        <div class="span8">
          <%- model_class = @job.class -%>
              <h2><%= @job.title %> </h2>
              <h3><%= @job.company %> - <%= @job.location %></h3>
              <br>
              <br>
              <p>
                <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
                <%= h(@job.description).gsub(/\n/, '<br/>').html_safe %> 
              </p>
              <p>
                <strong><%= model_class.human_attribute_name(:requirement) %>:</strong><br>
                <%= h(@job.requirement).gsub(/\n/, '<br/>').html_safe %> 
              </p>
              <p>
                <strong><%= model_class.human_attribute_name(:availability) %>:</strong><br>
                <%= @job.availability %>
              </p>
              <p>
                <strong><%= model_class.human_attribute_name(:jobtype) %>:</strong><br>
                <%= @job.jobtype %>
              </p>
              <%= link_to 'Apply Now',@job.url %>
              <div class="form-actions">
                <!---<%= link_to t('.back', :default => t("helpers.links.back")),
                            jobs_path, :class => 'btn'  %>---->
                <% permitted_to? :edit do %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_job_path(@job), :class => 'btn' %>
                <% end %> <!--- if permitted to ---->
                <% permitted_to? :destroy do %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            job_path(@job),
                            :method => 'delete',
                            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                            :class => 'btn btn-danger' %>
                <% end %> <!--- if permitted to ---->            
              </div>
        </div>
    </div>
</div>        