<%= simple_form_for [@job, @jobapp],:url => job_jobapps_path, :html => { :multipart => true } do |f| %>
  <% if @jobapp.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @jobapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user == nil %>
  <% @jobapp.build_user(jobapp_ids: [@jobapp.id]) %>
  <%= f.fields_for :user do |builder| %>
    <div class="build-user">
      <h3>Create an account or <%= link_to "Login", new_user_session_path %></h3><br><br>

      <%= builder.input :lastname, :required => true,:placeholder => "last & middle name" %> 
      <%= builder.input :firstname, :required => true %>
      <%= builder.input :email, :required => true, :autofocus => true, :placeholder => "get updates for your application" %>
                        
      <% if builder.object.password_required? %>
      <%= builder.input :password, :required => true, :placeholder => "at least 8 characters" %>
      <%= builder.input :password_confirmation, :required => true %>
      <% end %>
    </div>
  <% end %>
<% end %>
  
  <h3>Your Application</h3><br><br>

  <%= f.input :education,label:"Message to employer", :input_html => {:style => 'width: 450px', :rows => 10} %>
  <%= f.input :other,label: "Phone number", :input_html => {:style => 'width: 450px', :rows => 1} %>
  <strong style="margin-left:10px">* Please attach your resume (pdf)</strong>
  <br><strong style="margin-left:120px"><%= f.file_field :resume %></strong>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                job_path(@jobapp.job), :class => 'btn' %>
  </div>
<% end %>
