<div id="content" style="padding-left:200px;width:800px;float:left;">
<%- model_class = Jobapp.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Applicant</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobapps.each do |jobapp| %>
      <tr>
        <td><%= link_to jobapp.user.lastname+' '+jobapp.user.firstname, jobapp_path(jobapp) %></td>
        <td><%= jobapp.user.email %></td>
        <td><%= jobapp.other %></td>

        <td>
          <%=link_to "Resume", jobapp.resume.url(:original, false),:class => 'btn btn-mini btn-primary' %>	
          <%= link_to 'View',jobapp_path(jobapp), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      jobapp_path(jobapp),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Questions for the job</h3>
                  <%= render "messages/messages" %>
                  <%= render "messages/form" %>
                  

</div>


