<div id="content" style=";padding-top:50px;padding-left:200px;width:800px;float:left;">
	<%- model_class = @jobapp.class -%>
	<h1><%=t '.title', :default => model_class.model_name.human %></h1>

	<h2><%= link_to @jobapp.job.title, job_path(@jobapp.job) %></h2>
	<h3><%= @jobapp.user.lastname%> <%=@jobapp.user.firstname %></h3>
	<%=link_to "Download applicant's resume", @jobapp.resume.url(:original, false) %><br>
	<p>
	  <strong><%= model_class.human_attribute_name(:education) %>:</strong><br>
	  <%= @jobapp.education %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:experience) %>:</strong><br>
	  <%= @jobapp.experience %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:skill) %>:</strong><br>
	  <%= @jobapp.skill %>
	</p>
	<p>
	  <strong><%= model_class.human_attribute_name(:other) %>:</strong><br>
	  <%= @jobapp.other %>
	</p>

	<div class="form-actions">
	  <%= link_to t('.back', :default => t("helpers.links.back")),
	              job_path(@jobapp.job), :class => 'btn'  %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_jobapp_path(@jobapp), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              jobapp_path(@jobapp),
	              :method => 'delete',
	              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	              :class => 'btn btn-danger' %>
	</div>
</div>

