<div id="content" style=";padding-top:50px;padding-left:200px;width:800px;float:left;">
	<%- model_class = @jobapp.class -%>

	<h2>Application for <%= link_to @jobapp.job.title, job_path(@jobapp.job) %></h2><br><br><br>
	<h3><%= @jobapp.user.lastname%> <%=@jobapp.user.firstname %></h3>
	<%=link_to "Download applicant's resume", @jobapp.resume.url(:original, false) %><br><br>
	<p>
	  <strong>Message from applicant:</strong><br>
	  <%= h(@jobapp.education).gsub(/\n/, '<br/>').gsub('•','<br/> &bull;').html_safe %>
	</p>
	<p>
	  <strong>Phone number:</strong><br>
	  <%= @jobapp.other %>
	</p>
	<p>
	  <strong>Email Address:</strong><br>
	  <%= @jobapp.user.email %>
	</p>

	<div class="form-actions">
	  <%= link_to t('.back', :default => t("helpers.links.back")),
	              job_jobapps_path(@jobapp.job), :class => 'btn'  %>
	              
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              jobapp_path(@jobapp),
	              :method => 'delete',
	              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	              :class => 'btn btn-danger' %>
	</div>
</div>

