<div class="container-fluid">  
    <div class="row-fluid">  
        <div class="span2">
            <div id="facets">
                <h3>Article Type</h3>
                <ul>
                  <% for row in @search.facet(:posttype).rows %>
                    <li>
                      <% if params[:posttype].blank? %>
                        <%= link_to row.value, params.merge(:posttype => row.value) %> (<%= row.count %>)
                      <% else %>
                        <strong><%= row.value %></strong> (<%= link_to "remove", params.merge(:posttype => nil) %>)
                      <% end %>
                    </li>
                  <% end %><!--end of for row in @search-->
                </ul>
            </div>
        </div>

        <div class="span7">

          <% @posts.reverse.each do |post| %>

            <div class='post'>
              <h2><%= link_to post.title, post %></h2>
              <div id='post-info'>
                <strong>By <%= post.author%> at <%= post.created_at.strftime("%d-%m-%Y") %></strong>
              </div><br>
              <%=raw post.content %>
            </div>
            <br>
              
          <% end %>

        </div>

          <br />



          <%= link_to 'New Post', new_post_path %>

    </div>
</div>