<!DOCTYPE html>
<html>
<head>
  <title>WebCrawler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
			<!--- FLASH MESSAGE ---->
		

<body>


	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand">Jib.vn</a>
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li><%= link_to "Jib a Job!", search_path %></li>
	          <li><%= link_to "Career Blog" %></li>
	          <li><%= link_to "Contact Us" %></li>
	          <li><%= link_to "About us" %></li>
	        </ul>
	      </div>
	      
	      <div class = "pull-right">
	      	<% if user_signed_in? %>
			    Logged in as <strong><%= current_user.email %></strong>.
				<%= link_to 'Edit profile', edit_user_registration_path %> |
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> |
			    <%= link_to "Login", new_user_session_path %> |
			    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
			<% end %>
	      </div>	
	    </div>
	  </div>
	</div>
	

	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">×</a>
	    <%= msg %>
	  </div>
	<% end %>



<%= yield %>
</body>
</html>
